<h1>Welcome to the app</h1>
<br/>
<div><%= link_to 'See All channel', channels_path %></div>
<div><%= link_to 'Add New Channel', new_channel_path %></div>
<div><%= link_to 'See All shows', shows_path %></div>
